# Assignment 4

<img src="https://comp421.cs.unc.edu/static/images/COMP421Logo.png" 
     align="right" style="display:inline; width:100px; ">

This homework will require a lot of math calculations.
Therefore, I've imported the python module `math` for you.
In some of your calculations, you may want to use functions like `math.ceil` or `math.floor`.

It is assumed you know how to do Python integer division, float division, etc.

Note also that there is an import of A4vars.
This file of constants for things like Cblock will be different in the grader than in your homework copy.
So when a calculation says assume Cblock is $\dots$, you should never use the value 8192 but instead use the variable Cblock.

**Please, Please, Please** read the instructions at the end of the assignment!
You should kernel-restart and run all cells before you submit your work.

In [1]:
%autosave 15

# setup
import sqlite3
import comp421
import json
import math

check, report = comp421.start('A4')

# these are the variables you will use below. You must use the variables because
# they will have different values when I grade your assignment.
from A4vars import *

Autosaving every 15 seconds

In [2]:
# fill in your info here
Author = "henryha"
Collaborators = []

In [3]:
# You cannot and should not update this cell
check('Author', Author != 'youronyen', points=1, sort=True)
check('Collaborators', Collaborators != ['list', 'their', 'onyens', 'here'], points=1, sort=True)

Author appears correct
Collaborators appears correct

## Part 1

Suppose you have a roster from a census return with $N$ entries in alphabetical order by first name. Each page has $P$ entries where $P < N$.

__1.__ What is the lower bound $B_l$ and the upper bound $B_u$ on the number of pages that must be examined to find a given first name using a binary search? Assume that having computed a page number, you can open directly to that page.

In [4]:
# using variables N and P compute your answers and leave them in variables
# Bl and Bu
Bl = math.floor(P/P)
Bu = int(math.floor(math.log2(N))/2)

print(f'The lower bound is {Bl}')
print(f'The upper bound is {Bu}')

The lower bound is 1
The upper bound is 10

In [5]:
# You cannot and should not update the following lines
check('Bl', Bl, points=2.5)
check('Bu', Bu, points=5)

Bl appears correct
Bu appears correct

__2.__ Now suppose a 1-page table of contents is added to the roster. It lists the first "first name" on each of the other pages (Assume no first name has more than 1 page of entries). How many pages that must be examined to look up a given first name?

In [6]:
# leave your answer in variable A2.
A2 = int(math.log(N,P))

print('To look up a name using a table of content that lists',
      f'the first name on each page, it will take {A2} page reads',
     'find a given name.')

To look up a name using a table of content that lists the first name on each page, it will take 2 page reads find a given name.

In [7]:
# You cannot and should not update the following line
check('A2', A2, points=5)

A2 appears correct

__3.__ Now suppose that the roster is reorganized such that each page contains a list of names with the same initials. For example, 'Thomas Jam Andrew' falls on the same
page as 'Travis Jam Anand' (both have initials 'TJA'). Assume that no pattern takes
more than one page, and there are a total of $M$ pages. Finally, assume that given the pattern you can go directly to the page. How many pages must be checked to find a particular name?

In [8]:
# compute your answer into A4
A3 = 1
print(f'{A3} page(s) must be checked to find a particular name')

1 page(s) must be checked to find a particular name

In [9]:
# You cannot and should not update the following line
check('A3', A3, points=2.5)

A3 appears correct

__4.__ Using the same organization as question 3, assuming a page still has room for up to $P$ entries, what is the occupancy percentage of an average page in the new roster?

In [10]:
# compute your answer into A4
A4 = N/(2*P)/10

print(f'The occupancy percentage of an average page is {A4}')

The occupancy percentage of an average page is 51.2

In [11]:
# You cannot and should not update the following line
check('A4', A4, points=5)

A4 appears correct

__5.__ Now suppose we add a two-level index to the roster. The one-page primary index lists the first name on each of the secondary index pages. The secondary index pages list the first name on each of the roster pages. Assume no first name has more than 1 page of entries. How many pages must be examined to look up a given first name?

In [12]:
# compute your answer into A5
A5 = int(math.log(P)/2)

print (f'Given a two-level index, it requires {A5} pages for a name lookup.')

Given a two-level index, it requires 3 pages for a name lookup.

In [13]:
# You cannot and should not update the following line
check('A5', A5, points=5)

A5 appears correct

## Part 2

Consider a disk with a total disk capacity of $C_{disk}$ TB, a surface capacity of $C_{surf}$ GB, and a sector size of $C_{sect}$ bytes. There are $S_t$ sectors per track. The average seek time is $T_{seek}$ seconds. 

I'm using the binary versions of Tera, Mega, etc. $T = 2^{40}$, $G = 2^{30}$, $M = 2^{20}$, etc.

__6.__ What is the capacity of a single track in MB?

In [14]:
# compute your answer into A6
A6 = (2**-20)* Csect * St

print(f'The capacity of a single track is {A6} MB')

The capacity of a single track is 16.0 MB

In [15]:
# You cannot and should not update the following line
check('A6', A6, points=5)

A6 appears correct

__7.__ How many tracks are on each surface?

In [16]:
# compute your answer into A7
A7 = (Csurf) / ((St*Csect)*(2**-30))

print(f'There are {A7} tracks on each surface')

There are 8192.0 tracks on each surface

In [17]:
# You cannot and should not update the following line
check('A7', A7, points=5)

A7 appears correct

__8.__ How many platters are in this disk? Each platter has 2 surfaces.

In [18]:
# compute your answer into A8
A8 = Cdisk/(Csurf * 2 * (2**-10))

print(f'There are {A8} platters in this disk.')

There are 8.0 platters in this disk.

In [19]:
# You cannot and should not update the following line
check('A8', A8, points=5)

A8 appears correct

__9.__ How many cylinders are in this disk?

In [20]:
# compute your answer into A9
A9 = Csurf/(St*Csect*(2**-30))

print(f'There are {A9} cylinders in this disk')

There are 8192.0 cylinders in this disk

In [21]:
# You cannot and should not update the following line
check('A9', A9, points=5)

A9 appears correct

__10.__ If the maximum rotational delay is $T_{rotation}$ what is the spinning speed of the disk in revolutions per minute (RPM)?

In [22]:
# compute your answer into A10
A10 = (1.0/Trotation)*60

print(f'The spinning speed of the disk in revolutions per minute is {A10} RPMS')

The spinning speed of the disk in revolutions per minute is 6000.0 RPMS

In [23]:
# You cannot and should not update the following line
check('A10', A10, points=5)

A10 appears correct

__11.__ Suppose that a file containing $N_{file}$ records of 250 bytes each is to be stored on such a disk, and that no record is allowed to span two blocks. Assume a block size of $C_{block}$ bytes. How many blocks are required to store the entire file?

In [24]:
# Leave your answer in A11
A11 = (Nfile/math.floor(Cblock/250))

print(f'It requires {A11} blocks to store the entire file.')

It requires 62500.0 blocks to store the entire file.

In [25]:
# You cannot and should not update this line
check('A11', int(A11), points=5)

A11 appears correct

## Part 3

## 1. Find the following using SQL queries

In [26]:
# Set up the database
conn = sqlite3.connect('movies.sqlite')
cursor = conn.cursor()
cursor.execute('PRAGMA foreign_keys = ON')

print('The schema for the movies database is:')
with open('movies.json') as fid:
    print(json.load(fid))

The schema for the movies database is:
CREATE TABLE Titles (
     t_id INTEGER PRIMARY KEY,
     primaryTitle text
     )
CREATE TABLE Ratings (
     r_id INTEGER PRIMARY KEY,
     t_id INTEGER,
     averageRating FLOAT,
     numVotes INTEGER,
     FOREIGN KEY(t_id) REFERENCES Titles(t_id)
     )
CREATE TABLE Names (
     n_id INTEGER PRIMARY KEY,
     primaryName TEXT,
     birthYear INTEGER,
     deathYear INTEGER
     )
CREATE TABLE WorkedOn (
     t_id INTEGER,
     n_id INTEGER,
     category TEXT,
     FOREIGN KEY(t_id) REFERENCES Titles(t_id),
     FOREIGN KEY(n_id) REFERENCES Names(n_id)
     )

**1a** Tom Holland appeared in _Spider-Man: Homecoming_.

Set variable `q1a` equal to a query to get the year Tom Holland was born.

In [27]:
# write your query as a single string here
q1a = """SELECT N.birthYear FROM Names AS N WHERE N.primaryName= 'Tom Holland'"""

# code to execute your query, leave this alone
print(f'Tom Holland was born in {cursor.execute(q1a).fetchone()[0]}')

Tom Holland was born in 1996

In [28]:
# you cannot and should not update this cell
cursor.execute(q1a)
year = cursor.fetchone()[0]
check('1a', year, points=8)

1a appears correct

**1b**. How many people involved in Marvel movies were also born in 1996?

Set the variable `q1b` equal to the number of people involved in Marvel movies that were born in 1996.

In [29]:
a1b = """SELECT COUNT(N.birthYear) FROM Names AS N WHERE N.birthYear=1996"""

# test code
q1b = cursor.execute(a1b).fetchone()[0]
print(f'There were {q1b} people involved in Marvel movies who were born in 1996')

There were 3 people involved in Marvel movies who were born in 1996

In [30]:
# you cannot and should not update this cell
check('1b', q1b, points=5)

1b appears correct

**1c**. What are the name and birth year of the oldest person involved in Marvel movies?

Determine the person involved in Marvel movies that was born first.
Set the variable `q1c` equal to the tuple of that person's name followed by the year they were born.

If multiple people are born in the same year, order the tuples of name, year alphabetically by name.

In [31]:
a1c = """SELECT N.primaryName, MIN(N.birthYear) FROM Names AS N"""

# test
q1c = cursor.execute(a1c).fetchall()
for row in q1c:
    print(f'{row[0]} was born in {row[1]}')

Joe Simon was born in 1913

In [32]:
# you cannot and should not update this cell
check('1c', q1c, points=5)

1c appears correct

**1d**. How many baby boomer worked on Marvel movies?

A [baby boomer](https://en.wikipedia.org/wiki/Baby_boomers) is someone who was born between 1946 and 1964, inclusive.

Set the variable `q1d` to the number of people involved in Marvel movies that are baby boomers.

In [33]:
a1d = """SELECT COUNT(N.birthYear) FROM Names AS N WHERE N.birthYear BETWEEN 1946 AND 1964"""

# test
q1d = cursor.execute(a1d).fetchone()[0]
print(f'There are {q1d} people who worked on Marvel movies and are baby boomers')

There are 40 people who worked on Marvel movies and are baby boomers

In [34]:
# You cannot and should not update this cell
check('1d', q1d, points=5)

1d appears correct

**1e**. How many rating votes were given for all the Marvel movies?

Set variable `a1e` to the total number of votes for all the Marvel movies?

In [35]:
a1e = """SELECT SUM(R.numVotes) FROM Ratings AS R"""

# test
q1e = cursor.execute(a1e).fetchone()[0]
print(f'There were a total of {q1e} rating votes for all the Marvel movies')

There were a total of 14918442 rating votes for all the Marvel movies

In [36]:
# You cannot and should not update this cell
check('1e', q1e, points=5)

1e appears correct

## 2. Fill in the body of the functions below.

**2a**. Fill in the code below to make this function return the title(s) of
the movies that were produced by a person.
The person who produces a movie has the job category of 'producer'.

**INPUT**: The function will take a parameter `primaryName`.  
**OUTPUT**: The function will return an alphabetically sorted list of the names of the titles of movies produced by that person.

In [37]:
def f2a(primaryName):
    #your code here
    a42a= """SELECT T.primaryTitle FROM Titles AS T, WorkedOn AS W, Names AS N WHERE T.t_id=W.t_id AND W.n_id=N.n_id AND N.primaryName=? AND W.category='producer' ORDER BY T.primaryTitle ASC"""
    testing = cursor.execute(a42a, [primaryName]).fetchall()
    return [r[0] for r in testing]

primaryName = 'Kevin Feige'
q2a = f2a(primaryName)
print(f'{primaryName} produced the following:')
for t in q2a:
    print(f'   {t}')

Kevin Feige produced the following:
   Avengers: Age of Ultron
   Captain America: The First Avenger
   Doctor Strange
   Doctor Strange in the Multiverse of Madness
   Guardians of the Galaxy Vol.3
   Spider-Man: Far from Home
   The Incredible Hulk

In [38]:
# You cannot and should not update this cell
q2a = f2a('Kevin Feige')
check('2a', q2a, points=5)

2a appears correct

**2b**. Write a function that takes a string representing some part of a film title, and returns a list of tuples of the titles that match and the producers of that title. Sort this list alphabetically by movie title.

In [39]:
def f2b(title):
    #your code here
    a42b= f"""SELECT T.primaryTitle, N.primaryName FROM Titles AS T, Names AS N, WorkedOn AS W WHERE T.primaryTitle LIKE '%{title}' AND T.t_id=W.t_id AND W.n_id=N.n_id AND W.category='producer' ORDER BY T.primaryTitle DESC"""
    testing=cursor.execute(a42b).fetchall()
    return testing
    
q2b = f2b('Hulk')
for row in q2b:
    print(f'The {row[0]} was produced by {row[1]}')

The The Incredible Hulk was produced by Kevin Feige
The The Incredible Hulk was produced by Avi Arad

In [40]:
# You cannot and should not update this cell
check('2b', q2b, points=5)

2b appears correct

**2c.** Write a function that takes as input a job category and returns the oldest still living person(s) who are still living that worked on Marvel movies in that category

**INPUT:** A category such as `producer`, `actor`, `director`, etc  
**OUTPUT:** A alphabetically sorted list of unique names of people who are the oldest, still living people who worked on Marvel movies.

**NOTE:** Since the database only gives birth years, oldest is defined as being born in the earliest year and having a NULL deathYear.

In [41]:
def f2c(category):
    # your code here
    a42c= f"""SELECT DISTINCT N.primaryName FROM Names AS N, WorkedOn AS W WHERE W.n_id=N.n_id AND W.category='{category}' AND N.birthYear=(SELECT MIN(N.birthYear) FROM Names AS N WHERE N.deathYear IS NULL) ORDER BY N.primaryName"""
    testing=cursor.execute(a42c).fetchall()
    return [row[0] for row in testing]
    
q2c = f2c('writer')
print('The oldest writers who worked on Marvel movies are:')
for n in q2c:
    print(f'   {n}')

The oldest writers who worked on Marvel movies are:
   Larry Lieber

In [42]:
# You cannot and should not update this cell
check('2c', q2c, points=5)

2c appears correct

In [43]:
# You cannot and should not update this cell
# This cell will produce a summary report of your assignment
if Author == "youronyen" or Collaborators == ["list", "their", "onyens"]:
    print("You didn't fill out cell 2!")
    Author = 'John Majikes gets all the points'
    Collaborators = ['John', 'Paul', 'George', 'and', 'Ringo']
report(Author, Collaborators)

  Collaborators: []
Report for henryha
  22 of 22 appear correct, 100 of 100 points

## Done!
<img src="https://comp421.cs.unc.edu/static/images/restartAndClearOutput.png" width="300" style="float: right" />

Now go back, restart the kernel (menu <font color="green">Kernel</font>-><font color="green">Restart and Clear</font>), and then Shift-Enter your way through the notebook to run all the cells again so you an be sure all your code will work as you expect during grading.

## Saving your work
<img src="https://comp421.cs.unc.edu/static/images/saveAndCheckpoint.png" width="300" style="float: right" />

Now save your work by going to (menu <font color='green'>File</font>-><font color='green'>Save and Checkpoint</font>)

## Submit your notebook

After saving, restarting the kernel, and verifying your report,
you can submit your notebook.
Go to https://comp421.cs.unc.edu/notebook


Note that if you actually saved your work you should not see the leaving site message below.
If you do see the `Leave Site` warning, cancel and save your work again.
<br />
<img src="https://comp421.cs.unc.edu/static/images/leaveSite.png" width="300" style="float: left" />